<%= will_paginate @products %>
<div id="product_list" >
	<table>
		<% @products.each do |product| %>
		<tr class="<%= cycle('odd_row', 'even_row') %>" >
			<td> <%= link_to image_tag(product.img_url, alt: "Image not found", class: 'list_image'), product_path(id: product.id) %> </td>
			<td class="list_description" >
			<dl>
				<dt class="product_title">
					<%= link_to product.title, product_path(id: product.id)%>
				</dt>
				<dd class="product_description">
					<%= truncate(strip_tags(product.description), length: 80) %>
				</dd>
			</dl></td>
			<td> <%= link_to 'Show', product %>
			<br/>
			<%= link_to 'Edit', edit_product_path(product) %>
			<br/>
			<%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %> </td>
		</tr>
		<% end %>
	</table>
</div>
<%= will_paginate @products %>