<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div id="main">
			<div id="header">
				<%= render 'layouts/header' %>
			</div>

			<div id="site_content">
				<div id="sidebar_container">

					<!-- insert your sidebar items here -->
					<%= render 'layouts/sidebar' %>

				</div>
				<div id="content">
					<!-- insert the page content here -->
					<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "#{key}") %>
					<% end %>
					<%= yield %>

				</div>
			</div>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
			<%= debug(session[:cart_id]) if Rails.env.development? %>
		</div>
	</body>
</html>
